@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

/* MW scroll bounce 제거 */
html,
body {
  position: fixed;
  overflow: hidden;
}
#__next {
  overflow-y: scroll;
  position: relative;
}

* {
  user-select: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #eeeeee;
    background: black;
  }
}

/* dnd styling */

.dnd-item {
  @apply border border-transparent transition-shadow;
}

.dnd-item.placeholder {
  @apply border border-blue-500 opacity-50 ring-2 ring-blue-400;
}

.dnd-item:not(.ghost) {
  @apply cursor-grab shadow;
}

.dnd-item.ghost {
  @apply cursor-grabbing border-2 border-blue-400 pointer-events-none;
}
